<div ng-controller="HomeCtrl">
	<div class="container">
		<br />
		<div class="row">
			<div class="col-md-8" ng-controller="SearchCtrl">
				<input type="text" ng-keyup="onKeyUp()" ng-model="searchTerm" placeholder="search"/>
				<span class="glyphicon glyphicon-search"></span>
			</div>
			<div class="col-md-4" ng-controller="AddCtrl">
				<add-word on-add="addWord"></add-word>
			</div>
		</div>
		<div ng-controller="ListCtrl">
			<div class="row">
				<word ng-repeat ="word in words" word="word"></word>
			</div>
			<div class="row">
				<span ng-click="refresh()" class="glyphicon glyphicon-refresh"></span>
			</div>
		</div>
	</div>
</div>
