<div ng-controller="HomeCtrl">    
    <div class="row main-tools" ng-controller="SearchCtrl">        
        <form role="search">            
            <div class="col-lg-3">
                <div class="input-group">                    
                    <input type="text" class="form-control" ng-keyup="onKeyUp()" ng-model="searchTerm" placeholder="Search"/>
                    <span class="input-group-btn">
                       <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                   </span>                
                </div>  
           </div>          
           <div class="col-lg-3">
                <div class="input-group">                    
                    <input type="text" class="form-control" ng-model="selectedTag" ng-enter="addTag()" placeholder="tags" typeahead="tag for tag in tags | filter:$viewValue | limitTo:8" >
                    <span class="input-group-btn">
                       <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-tag" ng-click="addTag()"></span></button>
                   </span>                
                </div>  
           </div>
           <div class="col-lg-4 labales">
                <div class="form-control clearfix">
                    <span class="item" ng-repeat="tag in selectedTags">
                        {{tag}}
                        <a ng-click="removeTag(tag)" href>
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </span>
                </div>
           </div>
           <div class="col-lg-2 clearfix" ng-controller="ListCtrl">
                <button class="btn btn-warning pull-left" type="button" ng-click="reset()"><span class="glyphicon glyphicon-remove"></span></button> 
                <button type="button" class="btn btn-success pull-right" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button> 
          </div>
        </form>        
    </div>    
    <div ng-controller="ListCtrl">
        <div class="row">
            <word ng-repeat ="word in words" word="word" hint="hint(word)"></word>
        </div>
        
        <div class="row">
            <span ng-click="refresh()" class="glyphicon glyphicon-refresh"></span>
        </div>
    </div>    
</div>
