	<button type="button" class="btn btn-default navbar-btn" ng-hide="showForm" ng-click="toggleFormShow()">Add Word</button>
	<form role="form" ng-show="showForm">
		<div class="form-group">
			<input type="text" ng-model="word.type" class="form-control"  id="type" placeholder="type">
			<input type="text" ng-model="word.englishValue" class="form-control" id="english" placeholder="english">
			<div ng-repeat="bv in word.bulgarianValues" >
				<input type="text" ng-model="word.bulgarianValues[$index].value" class="form-control" id="bulgarian" ng-enter="onOk()" placeholder="bulgarian">
				<span ng-show="!$last" class="glyphicon glyphicon-minus" ng-click="removeDefinition($index)"></span>
				<span ng-show="$last" class="glyphicon glyphicon-plus" ng-click="addDefinition()"></span>
			</div>
		</div>
		<button type="button" class="btn btn-default" ng-click="onOk()">Ok</button>
		<button type="button" class="btn btn-default" ng-click="onCancel()"  >Cancel</button>
	</form>
