<div ng-controller="SettingsCtrl">
    <form id="add-form" class="" role="form" >
    <h1>Settings</h1>
        <div class="col-lg-12">
		<label for="hintPercentage">Hint Percentage</label>
	<input type="range" id="hintPercentage" ng-model="hintPercentage" bootstrap-slider="{max: 100, step: 10}" />
	<span class="range-slider-max-value">{{hintPercentage}}</span>
        </div>
        <div class="col-lg-12">
		<label for="hintPercentage">Words Per Page</label>
		<input type="range" min="1" id="hintPercentage" ng-model="wordsPerPage"/>
		<span>{{wordsPerPage}}</span>
        </div>
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary btn-lg" ng-click="save()">Save</button>
       </div>
    </form> 
</div>
